<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Sales Price Predictions</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <!--  <style>copy and paste contents of style.css</style> -->
</head>
<!-- Added Megans styling but the banner was broken. I changed the banner URL in style and it still didn't fix it so might be a code issue since we are using flask now? -->

<body>
	<header class="main-header">
		<div id="banner"></div>
	</header>
  <center>
	<section>
		<h1> Texas Home Sale Predictions by Zip Code </h1><br><br/>
		</div>
		</div>
		<strong>Use our Linear Regression Model to predict future house sales prices for major Zip Codes in Texas.</strong>
    <br><br>
    <br><br>
	</section>
                    <label for="zip">Choose a Zip Code: </label>
                    <select name="zipInput" id="zipInput">
                        <!-- {% for zip in zips %}
                        <option value="{{zip}}">{{zips}}</option>
                        {% endfor %} -->
                            <option value="77449">77449</option>
                            <option value="77494">77494</option>
                            <option value="79936">79936</option>
                            <option value="77084">77084</option>
                            <option value="78660">78660</option>
                            <option value="77479">77479</option>
                            <option value="77429">77429</option>
                            <option value="75217">75217</option>
                            <option value="77584">77584</option>
                            <option value="77379">77379</option>
                            <option value="75211">75211</option>
                            <option value="79938">79938</option>
                            <option value="79912">79912</option>
                            <option value="78641">78641</option>
                            <option value="78613">78613</option>
                            <option value="78245">78245</option>
                            <option value="77083">77083</option>
                            <option value="75002">75002</option>
                            <option value="77036">77036</option>
                            <option value="76244">76244</option>
                            <option value="77095">77095</option>
                            <option value="75035">75035</option>
                            <option value="77450">77450</option>
                            <option value="75243">75243</option>
                            <option value="76028">76028</option>
                            <option value="77346">77346</option>
                            <option value="79928">79928</option>
                            <option value="75068">75068</option>
                            <option value="77459">77459</option>
                            <option value="77072">77072</option>
                            <option value="78228">78228</option>
                            <option value="75040">75040</option>
                            <option value="78745">78745</option>
                            <option value="77077">77077</option>
                            <option value="75098">75098</option>
                            <option value="78251">78251</option>
                            <option value="75043">75043</option>
                            <option value="78250">78250</option>
                            <option value="79924">79924</option>
                            <option value="75056">75056</option>
                            <option value="75227">75227</option>
                            <option value="77375">77375</option>
                            <option value="76010">76010</option>
                            <option value="78240">78240</option>
                            <option value="77521">77521</option>
                            <option value="75071">75071</option>
                            <option value="78753">78753</option>
                            <option value="77015">77015</option>
                            <option value="77386">77386</option>
                            <option value="78254">78254</option>
                            <option value="78247">78247</option>
                            <option value="75115">75115</option>
                            <option value="75287">75287</option>
                            <option value="75149">75149</option>
                            <option value="77070">77070</option>
                            <option value="75070">75070</option>
                            <option value="77498">77498</option>
                            <option value="77088">77088</option>
                            <option value="78207">78207</option>
                            <option value="78223">78223</option>
                            <option value="76119">76119</option>
                            <option value="77546">77546</option>
                            <option value="79907">79907</option>
                            <option value="77082">77082</option>
                            <option value="75080">75080</option>
                            <option value="75025">75025</option>
                            <option value="78741">78741</option>
                            <option value="77469">77469</option>
                            <option value="75216">75216</option>
                            <option value="77044">77044</option>
                            <option value="75023">75023</option>
                            <option value="75074">75074</option>
                            <option value="78227">78227</option>
                            <option value="77406">77406</option>
                            <option value="77081">77081</option>
                            <option value="78704">78704</option>
                            <option value="78233">78233</option>
                            <option value="78744">78744</option>
                            <option value="78758">78758</option>
                            <option value="76116">76116</option>
                            <option value="75072">75072</option>
                            <option value="77099">77099</option>
                            <option value="75093">75093</option>
                            <option value="76133">76133</option>
                            <option value="75062">75062</option>
                            <option value="78748">78748</option>
                            <option value="77388">77388</option>
                            <option value="77040">77040</option>
                            <option value="78201">78201</option>
                            <option value="78258">78258</option>
                            <option value="77581">77581</option>
                            <option value="77511">77511</option>
                            <option value="77064">77064</option>
                            <option value="77093">77093</option>
                            <option value="77493">77493</option>
                            <option value="77080">77080</option>
                            <option value="78253">78253</option>
                            <option value="77042">77042</option>
                            <option value="78230">78230</option>
                            <option value="75033">75033</option>
                            <option value="78759">78759</option>
                            <option value="78213">78213</option>
                            <option value="76210">76210</option>
                            <option value="77338">77338</option>
                            <option value="75024">75024</option>
                            <option value="78216">78216</option>
                            <option value="75220">75220</option>
                            <option value="75034">75034</option>
                            <option value="77090">77090</option>
                            <option value="77057">77057</option>
                            <option value="77055">77055</option>
                            <option value="75050">75050</option>
                            <option value="77060">77060</option>
                            <option value="76112">76112</option>
                            <option value="77024">77024</option>
                            <option value="75013">75013</option>
                            <option value="77365">77365</option>
                            <option value="77075">77075</option>
                            <option value="75044">75044</option>
                            <option value="78237">78237</option>
                            <option value="77074">77074</option>
                            <option value="77471">77471</option>
                            <option value="79925">79925</option>
                            <option value="78154">78154</option>
                            <option value="78610">78610</option>
                            <option value="75042">75042</option>
                            <option value="78209">78209</option>
                            <option value="76248">76248</option>
                            <option value="75231">75231</option>
                            <option value="77502">77502</option>
                            <option value="75154">75154</option>
                            <option value="78221">78221</option>
                            <option value="78109">78109</option>
                            <option value="79927">79927</option>
                            <option value="77583">77583</option>
                            <option value="78218">78218</option>
                            <option value="75224">75224</option>
                            <option value="75206">75206</option>
                            <option value="77065">77065</option>
                            <option value="75069">75069</option>
                            <option value="78210">78210</option>
                            <option value="77073">77073</option>
                            <option value="76106">76106</option>
                            <option value="77087">77087</option>
                            <option value="76262">76262</option>
                            <option value="77014">77014</option>
                            <option value="77007">77007</option>
                            <option value="76180">76180</option>
                            <option value="78232">78232</option>
                            <option value="77045">77045</option>
                            <option value="76002">76002</option>
                            <option value="77489">77489</option>
                            <option value="75075">75075</option>
                            <option value="77063">77063</option>
                            <option value="77035">77035</option>
                            <option value="75234">75234</option>
                            <option value="75248">75248</option>
                            <option value="79915">79915</option>
                            <option value="77092">77092</option>
                            <option value="76227">76227</option>
                            <option value="76123">76123</option>
                            <option value="77339">77339</option>
                            <option value="77377">77377</option>
                            <option value="76039">76039</option>
                            <option value="77049">77049</option>
                            <option value="77009">77009</option>
                            <option value="78723">78723</option>
                            <option value="75077">75077</option>
                            <option value="77389">77389</option>
                            <option value="77571">77571</option>
                            <option value="78108">78108</option>
                            <option value="76021">76021</option>
                            <option value="77520">77520</option>
                            <option value="77506">77506</option>
                            <option value="78749">78749</option>
                            <option value="77382">77382</option>
                            <option value="77076">77076</option>
                            <option value="77381">77381</option>
                            <option value="76013">76013</option>
                            <option value="77004">77004</option>
                            <option value="77304">77304</option>
                            <option value="77096">77096</option>
                            <option value="76014">76014</option>
                            <option value="75238">75238</option>
                            <option value="78229">78229</option>
                            <option value="77017">77017</option>
                            <option value="77530">77530</option>
                            <option value="76001">76001</option>
                            <option value="77301">77301</option>
                            <option value="75214">75214</option>
                            <option value="78217">78217</option>
                            <option value="78211">78211</option>
                            <option value="77477">77477</option>
                            <option value="75232">75232</option>
                            <option value="77079">77079</option>
                            <option value="77067">77067</option>
                            <option value="78242">78242</option>
                            <option value="77536">77536</option>
                            <option value="77053">77053</option>
                            <option value="77066">77066</option>
                            <option value="75229">75229</option>
                            <option value="77086">77086</option>
                            <option value="77047">77047</option>
                            <option value="79904">79904</option>
                            <option value="76117">76117</option>
                            <option value="75038">75038</option>
                            <option value="77041">77041</option>
                            <option value="76107">76107</option>
                            <option value="76110">76110</option>
                            <option value="75241">75241</option>
                            <option value="77033">77033</option>
                            <option value="75089">75089</option>
                            <option value="77016">77016</option>
                            <option value="76018">76018</option>
                            <option value="77566">77566</option>
                            <option value="75901">75901</option>
                            <option value="76016">76016</option>
                            <option value="77038">77038</option>
                            <option value="77071">77071</option>
                            <option value="75208">75208</option>
                            <option value="78212">78212</option>
                            <option value="75204">75204</option>
                            <option value="79930">79930</option>
                            <option value="77091">77091</option>
                            <option value="77598">77598</option>
                            <option value="78750">78750</option>
                            <option value="77532">77532</option>
                            <option value="78244">78244</option>
                            <option value="77039">77039</option>
                            <option value="77022">77022</option>
                            <option value="76140">76140</option>
                            <option value="77020">77020</option>
                            <option value="78705">78705</option>
                            <option value="79932">79932</option>
                            <option value="76114">76114</option>
                            <option value="76132">76132</option>
                            <option value="77023">77023</option>
                            <option value="76020">76020</option>
                            <option value="77545">77545</option>
                            <option value="77578">77578</option>
                            <option value="78746">78746</option>
                            <option value="78023">78023</option>
                            <option value="76012">76012</option>
                            <option value="78727">78727</option>
                            <option value="76209">76209</option>
                            <option value="78214">78214</option>
                            <option value="77357">77357</option>
                            <option value="76034">76034</option>
                            <option value="75230">75230</option>
                            <option value="76134">76134</option>
                            <option value="77061">77061</option>
                            <option value="77062">77062</option>
                            <option value="78239">78239</option>
                            <option value="77478">77478</option>
                            <option value="75240">75240</option>
                            <option value="78238">78238</option>
                            <option value="78260">78260</option>
                            <option value="77005">77005</option>
                            <option value="77380">77380</option>
                            <option value="78222">78222</option>
                            <option value="78653">78653</option>
                            <option value="75212">75212</option>
                            <option value="77503">77503</option>
                            <option value="78731">78731</option>
                            <option value="78729">78729</option>
                            <option value="77385">77385</option>
                            <option value="77504">77504</option>
                            <option value="78724">78724</option>
                            <option value="77356">77356</option>
                            <option value="76208">76208</option>
                            <option value="75252">75252</option>
                            <option value="76135">76135</option>
                            <option value="79934">79934</option>
                            <option value="75219">75219</option>
                            <option value="75036">75036</option>
                            <option value="75078">75078</option>
                            <option value="75205">75205</option>
                            <option value="78754">78754</option>
                            <option value="78617">78617</option>
                            <option value="75094">75094</option>
                            <option value="75180">75180</option>
                            <option value="77037">77037</option>
                            <option value="77345">77345</option>
                            <option value="77021">77021</option>
                            <option value="76126">76126</option>
                            <option value="77384">77384</option>
                            <option value="75218">75218</option>
                            <option value="76105">76105</option>
                            <option value="77505">77505</option>
                            <option value="75048">75048</option>
                            <option value="77043">77043</option>
                            <option value="77019">77019</option>
                            <option value="76109">76109</option>
                            <option value="75146">75146</option>
                            <option value="75082">75082</option>
                            <option value="78703">78703</option>
                            <option value="75159">75159</option>
                            <option value="76011">76011</option>
                            <option value="75225">75225</option>
                            <option value="78224">78224</option>
                            <option value="79905">79905</option>
                            <option value="78728">78728</option>
                            <option value="78739">78739</option>
                            <option value="75253">75253</option>
                            <option value="76111">76111</option>
                            <option value="78148">78148</option>
                            <option value="77056">77056</option>
                            <option value="78752">78752</option>
                            <option value="76115">76115</option>
                            <option value="77006">77006</option>
                            <option value="75134">75134</option>
                            <option value="77027">77027</option>
                            <option value="77302">77302</option>
                            <option value="77401">77401</option>
                            <option value="76052">76052</option>
                            <option value="78259">78259</option>
                            <option value="75116">75116</option>
                            <option value="77026">77026</option>
                            <option value="77029">77029</option>
                            <option value="75236">75236</option>
                            <option value="76008">76008</option>
                            <option value="77069">77069</option>
                            <option value="79902">79902</option>
                            <option value="77048">77048</option>
                            <option value="77085">77085</option>
                            <option value="79403">79403</option>
                            <option value="78735">78735</option>
                            <option value="77028">77028</option>
                            <option value="77012">77012</option>
                            <option value="78734">78734</option>
                            <option value="78219">78219</option>
                            <option value="76104">76104</option>
                            <option value="77051">77051</option>
                            <option value="76120">76120</option>
                            <option value="77447">77447</option>
                            <option value="78747">78747</option>
                            <option value="78738">78738</option>
                            <option value="77011">77011</option>
                            <option value="77013">77013</option>
                            <option value="77031">77031</option>
                            <option value="78737">78737</option>
                            <option value="76266">76266</option>
                            <option value="77328">77328</option>
                            <option value="77378">77378</option>
                            <option value="75009">75009</option>
                            <option value="75137">75137</option>
                            <option value="75409">75409</option>
                            <option value="78220">78220</option>
                            <option value="77587">77587</option>
                            <option value="75203">75203</option>
                            <option value="75233">75233</option>
                            <option value="75215">75215</option>
                            <option value="76118">76118</option>
                            <option value="76015">76015</option>
                            <option value="78255">78255</option>
                            <option value="76177">76177</option>
                            <option value="76247">76247</option>
                            <option value="79935">79935</option>
                            <option value="75223">75223</option>
                            <option value="79412">79412</option>
                            <option value="76103">76103</option>
                            <option value="75407">75407</option>
                            <option value="77032">77032</option>
                            <option value="75235">75235</option>
                            <option value="76164">76164</option>
                            <option value="75249">75249</option>
                            <option value="79903">79903</option>
                            <option value="77422">77422</option>
                            <option value="75201">75201</option>
                            <option value="78732">78732</option>
                            <option value="77461">77461</option>
                            <option value="77531">77531</option>
                            <option value="78015">78015</option>
                            <option value="75001">75001</option>
                            <option value="75209">75209</option>
                            <option value="77078">77078</option>
                            <option value="77098">77098</option>
                            <option value="78225">78225</option>
                            <option value="78261">78261</option>
                            <option value="79849">79849</option>
                            <option value="78730">78730</option>
                            <option value="77030">77030</option>
                            <option value="75244">75244</option>
                            <option value="77336">77336</option>
                            <option value="78252">78252</option>
                            <option value="77562">77562</option>
                            <option value="77094">77094</option>
                            <option value="78721">78721</option>
                            <option value="78726">78726</option>
                            <option value="77068">77068</option>
                            <option value="78248">78248</option>
                            <option value="78264">78264</option>
                            <option value="77372">77372</option>
                            <option value="76054">76054</option>
                            <option value="75182">75182</option>
                            <option value="75065">75065</option>
                            <option value="78733">78733</option>
                            <option value="77306">77306</option>
                            <option value="78645">78645</option>
                            <option value="78202">78202</option>
                            <option value="77441">77441</option>
                            <option value="78256">78256</option>
                            <option value="75210">75210</option>
                            <option value="75442">75442</option>
                            <option value="79835">79835</option>
                            <option value="78231">78231</option>
                            <option value="78756">78756</option>
                            <option value="78669">78669</option>
                            <option value="79901">79901</option>
                            <option value="78736">78736</option>
                            <option value="76102">76102</option>
                            <option value="75454">75454</option>
                            <option value="77547">77547</option>
                            <option value="75949">75949</option>
                            <option value="78257">78257</option>
                            <option value="79922">79922</option>
                            <option value="75941">75941</option>
                            <option value="78112">78112</option>
                            <option value="76060">76060</option>
                            <option value="78725">78725</option>
                            <option value="78652">78652</option>
                            <option value="77480">77480</option>
                            <option value="79401">79401</option>
                            <option value="78073">78073</option>
                            <option value="77486">77486</option>
                            <option value="76249">76249</option>
                            <option value="78226">78226</option>
                            <option value="79411">79411</option>
                            <option value="78203">78203</option>
                            <option value="79821">79821</option>
                            <option value="78101">78101</option>
                            <option value="77362">77362</option>
                            <option value="76258">76258</option>
                            <option value="79838">79838</option>
                            <option value="78002">78002</option>
                            <option value="79836">79836</option>
                            <option value="75141">75141</option>
                            <option value="77485">77485</option>
                            <option value="78208">78208</option>
                            <option value="77050">77050</option>
                            <option value="75173">75173</option>
                            <option value="76259">76259</option>
                            <option value="76462">76462</option>
                            <option value="75202">75202</option>
                            <option value="78263">78263</option>
                            <option value="79311">79311</option>
                            <option value="77430">77430</option>
                            <option value="76476">76476</option>
                            <option value="78719">78719</option>
                            <option value="78215">78215</option>
                            <option value="75424">75424</option>
                            <option value="79329">79329</option>
                            <option value="75166">75166</option>
                            <option value="75172">75172</option>
                            <option value="75246">75246</option>
                            <option value="78742">78742</option>
                            <option value="77417">77417</option>
                            <option value="78152">78152</option>
                            <option value="77534">77534</option>
                            <option value="77873">77873</option>
                            <option value="77444">77444</option>
                            <option value="77046">77046</option>
                            <option value="77464">77464</option>
                            <option value="77476">77476</option>
              
                    </select>
                    <label for="date">Choose a Date: </label> <input type="date" min="2024-01-01" name="dateInput" id="dateInput">
                    <p id="return"></p>
                    <br><br>
                    <button id="subButton" type="submit">submit</button>
                <script>
                
                // This line adds an event to the submit button that triggers the code below when clicked. The variables are named in lines 40-43
                    document.querySelector('#subButton').addEventListener('click',function (e){
                        var p = document.querySelector('#return')
                        let input = +document.querySelector('#zipInput').value
                        let date = document.getElementById('dateInput')
                        let xhttp = new XMLHttpRequest()
                        // This triggers the app.route api in main.py to call the database for slope and intercept using zip code. xmlhttp is basically just something you can use to fetch data from a web server
                        xhttp.open("GET", `/api/${+input}`)
                        xhttp.send()
                        xhttp.onreadystatechange = function(){
                            // This line of code checks if the api call was completed successfully (ready state 4 and status 200) it then logs the response and converts the date to numeric
                            if (this.readyState == 4 && this.status ==200){
                                console.log(this.responseText)
                                console.log(Date.UTC(...date.value.split('-')))
                                // const z=input
                                // const ddisplay=date
                                const responseArray=this.responseText.split(",")
                                const m=Number(responseArray[0])
                                const b=Number(responseArray[1])
                                const d=Number(Date.UTC(...date.value.split('-')))
                                const x=d*1000000
                                const result= m*x + b
                                console.log(result)
                                p.innerHTML = (result).toFixed(2)
                            }
                        }
                        
                    })
                </script>
  </center>
  <br><br>
  <!-- Added the footer from Megan's code. I was trying to get the footer to sticky to the bottom but everything I tried also changed something else on the footer. Not sure if you have any idea's Megan -->
      <footer>
        <p><b>Group One Final Project Presented By:</b><br></br>
          <a href="https://github.com/SubF">Nathan Yu., </a>
          <a href="https://github.com/romashka79">Ruslana N., </a>
          <a href="https://github.com/montillall">Lucybel M. and </a>
          <a href="https://github.com/mhenson1989">Megan H.</a>
          <address></p>
          <a href="https://public.tableau.com/app/profile/megan.henson/viz/Group_One_Final_Project/GroupOneFinalProject">Explore our Project</a>
        </address>
      </footer>
    
</body>

</html>